litterature
Aitchison (2008) Codaworks 8 (1).pdf
Aitchison (2008) Codaworks 8.pdf
Aitchison - A_concise_guide_to_compositional_data_analysis (200-).pdf
Analyzing Compositional Data with R by K. Gerald van den Boogaart, Raimon Tolosana-Delgado (auth.) (z-lib.org).pdf
Bijlage 1 (1).PDF
Bijlage 1.PDF
Bloemsma et al. (2012) SG.pdf
Bloemsma et al. (2013) SG Erratum.pdf
Compositional.pdf
Greenacre (2020) ACG.pdf
Growth  from microorganisms to megacities by Smil, Vaclav (z-lib.org) (1).pdf
Growth  from microorganisms to megacities by Smil, Vaclav (z-lib.org).pdf
Henares et al. (2019) MPG.pdf
Paredis et al. (2020) ESR.pdf
Soirée de lancement du projet tandem français-néerlandais.pptx
Tolosana-Delgado2019_Article_GeostatisticsForCompositionalD.pdf
VanDenBoogaart-Tolosana-Delgado2013_Book_AnalyzingCompositionalDataWith.pdf
Weltje & Paredis (2020) ESR.pdf
Weltje et al. (2015) DPER Chapt 21 (1).pdf
Weltje et al. (2015) DPER Chapt 21.pdf
chayes1960.pdf
